body
{
background-color:rgb(97, 118, 124);
background-repeat: no-repeat;
background-position: center;}
.title
{text-align:center;}
ul
{list-style-type: none;
border:1px solid #e7e7e7;
background-color: #f3f3f3;
overflow: hidden;
padding:0px;
margin:0px;;}
li
{float: left;}
a{text-decoration: none;
color: cornflowerblue;}
li a
{display: block;
color: grey;
padding-right: 25px;
padding-left: 25px;
padding-top:25px;
padding-bottom:25px;}
li a:hover
{color:white;
background-color: #dddddd;}
li a.active{
    background-color: rgb(108, 135, 207);
    color: white;
}

.nav-right{float: right;}
div
{border:3px solid white;
/*border-radius:15px;*/
border-style:dotted;
background-image: linear-gradient(rgb(49, 35, 129),indigo);
}
table{width:100%;
color: white;}
thead tr{text-align: center;
background-color:rgb(76, 111, 175) ;
color: white;
font: bold;
font-size: x-large;}